@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}

.blog-nav{
    position:absolute;
    top: 0;
    max-height: 70px;
    transition:1s;
    z-index: 100000;
    width: 100%;
}
.blog-nav-rect{
    height:70px;
    width: 40%;
    background:#383e56;
    position: absolute;
    right: 0;
    top: 0;
    transition: 1s;
}
.blog-nav-hover{
    position:fixed;
    top: 0;
    background-color: #fff;
    height: 100px;
    box-shadow: 5px 5px 10px #0004;
}
.blog-nav-hover .blog-nav-rect{
    background-color: #fff;
}
.blog-nav ul li{
    display: inline-flex;
    padding-left: 5%;
}
.blog-nav ul li a{
    font-size:1rem;
    color:#000;
    font-weight: 600;
    color: #FB4F64;
    transition:0.5s;
}
.blog-nav ul li a:hover{
    color:#000;
    font-size: 1.05rem;
    text-decoration: none;
}


/*------------------ New Posts Section----------- */

.new-blogs{
    height:80vh;
    overflow: hidden;
}
.blog-rect{
    height:70vh;
    width:40%;
    background:#383e56;
    position: absolute;
    right: 0;
    top:70px;
    border-radius: 0px 0px 0px 100px;
    z-index: -1;
}
.newpost{
    height:100%;
    z-index:100;
    padding-top: 50px;
    transform: translateY(0);
    transition: 0.5s;
}

.newpost-text{
    float:left;
    padding: 20px;
    width:50%;
}
.newpost-img{
    width: 50%;
    height: 350px;
    float: right;
    overflow: hidden;
    border-radius: 100px 0 0 0 ;
    box-shadow: -10px 20px 20px #0005;
}
.newpost-img img{
    width:100%;
    height: 100%;
}
.newpost-title{
    font-family: 'Poppins';
    font-weight: 400;
    font-size:2.5rem;
}
.newpost-description{
    font-weight: 500;
    padding: 20px 20px 20px 0;
}
.newpost-number{
    position:absolute;
    top: 20%;
    left: 150px;
    font-weight: bold;
    transform: translateY(10px) translateX(-20px);
    font-size: 15rem;
    opacity: 0.2;
    z-index:-1;
}
.newpost-link{
    font-weight: bold;
    padding: 20px;
    border-radius: 3px;
    color: #FFF;
    transition: 0.5s;
    background-color:#FB4F64;
    box-shadow:2px 3px 4px #0003;
}
.newpost-link:hover{
    color: #FFF;
    box-shadow:10px 10px 20px #0003;
    text-decoration:none;
}
.pagination{
    position:absolute;
    top:40%;
    right:-3%;
    display:flex;
    transform:rotateZ(90deg);
}
.pagination-x{
    height:10px;
    width:10px;
    border-radius:50%;
    background-color: #fff3;
    margin: 10px;
    cursor:pointer;
    margin-top:30px;
    transition: 0.5s;
}
.active-page{
    background-color:#fff;
}
.upper-arrow,.lower-arrow{
    height: 50px;
    width:50px;
    margin: 10px;
    margin-left: 30px;
    margin-right:30px;
    cursor: pointer;
    border: 0.5px solid #fff7;
    border-radius:50%;
}
.upper-arrow ion-icon,.lower-arrow ion-icon{
    width:30px;
    margin:10px;
    height:30px;
    color:#fff
}

.line-img{
    position: absolute;
    right:10%;
    bottom:24%;
    width:100px;
    height:100px;
}
.line-img img{
    width:100%;
}
.topics-section{
    height:30vh;
    margin-top:30px;
    margin-bottom:30px;
    margin-right:30px;
}
.swiper-container{
    height: auto;
    margin: 0;
    padding: 100px;
    background-color: #0002; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 70%,#fff 40%);
    border-radius: 0px 40px 0px 0px;
}
.swiper-wrapper{
    height: 100%;

}
.swiper-slide{
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 20px 0px 40px #0003;
    margin: 30px;
}
.topic-name{
    font-size: 1.5rem;
    font-weight:bold;
}
.topic-icon{
    height: 70px;
    width: 70px;
    border:2px solid #0003;
    padding: 17px;
    margin: 20px;
    border-radius: 50%;

}
.topic-icon ion-icon{
    height:30px;
    width:30px;
}
.red-title{
    font-family: 'Poppins';
    color: #FB4F64;
    font-size:2.5rem;
    font-weight:bold;
}
.black-title{
    font-family: 'Poppins';
    color:black;
    font-size:2.5rem;
    font-weight:bold;
}
.outline-rect{
    position:absolute;
    top:50px;
    left:40px;
    width: 170px;
    height:100px;
    border-radius: 0px 40px 0px 0px;
    border:2px solid #0003;
}
.topic-link{
    width: 100%;
    height:100%;
    color:#000;
    transition:0.3s;
}
.topic-link:hover{
    color:#FB4F64;
    text-decoration:none;
}
.green-rect{
    width: 40%;
    height:70vh;
    background-color:#383e56;
    position:absolute;
    left:0;
    border-radius: 0px 0px 100px 0px;
}
.green-rect img{
    position: absolute;
    width: 100px;   
    bottom: 60px;
    left:140px;
    z-index: 100;
}
.form-img{
    width: 100%;
    height: 55vh;
}
.form-img img{
    border-radius: 0px 100px 0px 0px;
    box-shadow: 3px 15px 20px #0003;
    width: 100%;
    }
@media (max-width: 767px){
    .form-img,.topic-title{
        display: none;
    }

    .green-rect img{
        display:none;
    }
}
.sub-form-field{
    background-color:#fcfcfc;
    border-top:2px solid #eaeaea;
    border-bottom:2px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    color:#000;
    padding:10px;
    width: 100%;
}
.sub-form-field::placeholder{
    color:#0007;
}
.sub-form-field:focus{
    outline-style:none;
    background-color:#fff;
    border-top:2px solid #eaeaea;
    border-bottom:2px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

}
.submit-btn{
    width: 100%;
    height:50px;
    background-color:#000;
    text-align: center;
    color:#fff;
    border:none;
    font-family: 'Poppins';
    font-weight: 500;
}
.outline-rect-new{
    position: absolute;
    left:220px;
    border-radius: 0px 40px 0px 0px;
    border:2px solid #0003;
}
.like-post{
    width: 100%;
    padding:10px;
    background-color: #eee;
    border-radius: 0px 50px 0px 0px;
    transition:0.7s;
    margin-bottom:20px;
}
.like-post:hover{
    box-shadow:10px 10px 15px #0003;
    background-color: #fff;
}
.red{
    color:red;
    font-weight: 600;
}
.random-section{
    width: 100%;
    height:auto;
    background-image: url(--i);
}
.feat-text{
    position:absolute;
    top:50%;
    background:white;
    padding:30px;
    right:20px;
    width:85%;
    box-shadow:10px 10px 15px #0003;
}