{% extends 'base.html' %}

  {% block content %}

  <center><h2> {{ post.title }} </h2>
  <h4> By: {{ post.author }} - {{ post.post_date }}</h4><br></center>
  <br>
  <br>
  <div class="container">
  <div class="logo">

  <center><img src="{{ post.image.url }}"></center><br><br>
  {{ post.body }}
  <br>
  </div>
  </div>
  <br>
  <br>
  {% if user.is_authenticated %}
  <center><a href="{% url 'update_post' post.pk %}" class="btn btn-info"> Edit Post </a>  </center>
    <center><a href="{% url 'delete_post' post.pk %}" class="btn btn-info"> Delete Post </a> <br>  </center>
  {% endif %}
  <br>
  <br>
    <center><h4>Comments<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-dots" viewBox="0 0 16 16">
  <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
  <path d="M2.165 15.803l.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
</svg></h4>
  </center>
<form action="{% url 'blog_like' pk=post.id %}" method="post">
  {% csrf_token %}
    <center><button type="submit" name="blog-id" value="{{post.id}}" class="btn btn-info">
    {% if like_status %}
        Unlike
    {% else %}
        Like
    {% endif %}
  </button>  </center>
  </form>
  <center>  <h4> {{ post.number_of_likes}} </h4>  </center>

  <br>  <center>
    {% if not post.comments.all %}
      <h7>No Comments Yet<a href="{% url 'add_comment' post.pk %}"><br>Add Comment</a></h7>
    {% else %}
     {% for comment in post.comments.all %}
      {{ comment.name }}-
      {{ comment.date_added }}
      <br>
      {{ comment.body }}
      <br>
      <h7><a href="{% url 'add_comment' post.pk %}">Add Comment</a></h7>
    {% endfor %}
    {% endif  %}
    <br>
      </center>
  <center><a href ="{% url 'home' %}" class="btn btn-info"> Back </a><br><br>  </center>

 {% endblock %}
