{% extends 'base.html' %}

  {% block content %}

  <div class="container">
  <center><h2> {{ post.title }} </h2></center>
  <h4 style='float:right;'> - By: <span class="red">{{ post.author }}</span> </h4><br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8"><img src="{{post.image.url}}" class='post-img' width=100% alt=""></div>
    <div class="col-md-4">
      <br><br>
      <center>
        <div class="row">
          
        <form action="{% url 'blog_like' pk=post.id %}" method="post">
          {% csrf_token %}
            <button type="submit" name="blog-id" value="{{post.id}}" class="like-btn">
            {% if like_status %}
          <ion-icon name="heart" class='liked'></ion-icon> 
            {% else %}
            <ion-icon name="heart-outline"></ion-icon>
            {% endif %}
          </button>  
          </form>
          <h3>{{ post.number_of_likes}} <span class="red">Likes</span></h3>
        </div>
        <br>
        <hr>
        <div class="row">
          <ion-icon name="chatbox-ellipses-outline" class="like-btn"></ion-icon>
          <p></p>
          <h3>{{ post.comments.all|length }} <span class="red">Comments</span> </h3>
        </div>
      </center>
    </div>
  </div><br>
  {{ post.body }}
  <br>
  <br>
  <center>

  <div class="row">
    <h2>COM<span class="red">MENTS</span> : </h2>
  </div>
  <br>
  {% if post.comments.all %}
  {% for comment in post.comments.all %}
  <div class="col-md-10 comment-box">
    <h4 class="red">{{comment.name}} : </h4> <br>
    <h5>{{comment.body}}</h5> <br>
    <p><span class="red"> {{comment.date_added}} </span>  </p>
  </div><br>
  {% endfor %}
  {% else %}
  <h3>No Comm<span class="red">ents Yet</span></h3>
  {% endif %}

  <div class="col-md-8">
    <h4>ADD <span class='red'>COMMENT</span></h4><br>
  <form action="" method="post">
    {% csrf_token %}
    {% for i in form %}
    {{i}}
    {% endfor %}
    <button class='submit-btn'>Comment</button>
  </form>
</div>
</center>

<br><br>
    {% if user.is_authenticated %}
    <center><a href="{% url 'update_post' post.pk %}" class="newpost-link"> Edit Post </a> &nbsp;&nbsp;
      <a href="{% url 'delete_post' post.pk %}" class="newpost-link"> Delete Post </a>  </center>
    {% endif %}
</div>
<br><br>
 {% endblock %}
